.about {
  &-wrapper {
    &:nth-child(odd) {
      .about-image {
        order: 1;
      }
      .about-content {
        order: 2;
      }
    }
    &:nth-child(even) {
      .about-image {
        order: 2;
      }
      .about-content {
        order: 1;
      }
    }
  }
  &-content {
    h2 {
      @apply lg:leading-[88px];
      em {
        @apply not-italic text-secondary;
      }
    }
    p {
      @apply mb-5 max-w-[525px];
    }
    a {
      @apply relative font-semibold before:absolute before:bottom-0 before:left-0 before:z-[1] before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-primary-dark before:transition-transform before:duration-500 before:content-[''] after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:bg-secondary before:hover:origin-left before:hover:scale-x-100;
    }
  }
}
