.services {
  @apply bg-primary py-24;
  &-wrapper {
    @apply grid grid-cols-1 gap-5 md:gap-6 lg:grid-cols-3;
  }
  &-content {
    @apply border border-primary-light p-10;
    img {
      @apply mb-10;
    }
    h3 {
      @apply relative mb-4 text-[32px] font-semibold leading-none tracking-[-0.01em] text-white;
      &:after {
        position: absolute;
        top: 50%;
        left: -41px;
        transform: translateY(-50%);
        background-color: #ffffff;
        width: 2px;
        height: 40px;
        content: '';
      }
    }
    p {
      @apply leading-[1.6] -tracking-[0.18px] text-white/70;
    }
    a {
      @apply relative font-semibold before:absolute before:bottom-0 before:left-0 before:z-[1] before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-primary-dark before:transition-transform before:duration-500 before:content-[''] after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:bg-secondary before:hover:origin-left before:hover:scale-x-100;
    }
  }
}
